@media (max-width: 1400px) {
    .sidepanel{
        display: none;
    }
}

@media (max-width: 1200px) {
    .container{
        max-width: 960px;
    }
    .about{
        &__wrapper{
            grid-template-columns: 400px 500px;
            column-gap: 60px;
        }
        &__skills{
            grid-template: repeat(3,minmax(100px,auto))/auto;
            row-gap: 0;
            &-item{
                grid-template-columns: 60px auto;
            }
        }
    }
}

@media (max-width: 992px) {
    .container{
        max-width: 720px;
    }
    .title{
        &_fz36{
            font-size: 32px;
        }
    }
    .about{
        &__wrapper{
            grid-template-columns: 300px 400px;
            column-gap: 20px;
        }
        &__img{
            img{
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 768px) {
    .container{
        max-width: 540px;
    }
    .title{
        &_fz36{
            font-size: 25px;
        }
        &_fz48 {
            font-size: 40px;
        }
    }
    .promo {
        background: url(../img/main_bg.jpg) no-repeat 55% / cover;
        // padding-top: 250px;
    }
    .about{
        &__wrapper{
            grid-template-columns: 220px 300px;
        }
    }
}


@media (max-width: 576px) {
    .container{
        max-width: 100%;
        padding: 0 10px;
    }
    .title{
        &_fz48 {
            font-size: 26px;
        }
    }
    .menu__block{
        width: 250px;
        padding-left: 20px;
    }
    .hamburger{
        right: 20px;
    }
    .divider{
        margin-top: 15px !important;
    }
    .promo {
        background: url(../img/main_bg.jpg) no-repeat 58% / cover;
        &__title{
            width: 100%;
            line-height: 32px;
        }
    }
    .about{
        padding-top: 40px;
        &__skills{
            margin-top: 25px;
        }
        &__wrapper{
            grid-template-columns: auto;
        }
        &__img{
            height: 340px;
        }
        &__title{
            line-height: 32px;
        }
        &__descr{
            font-size: 14px;
        }
    }
}