.price{
    .container{
        padding: 60px 50px 0 50px;
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(2, 370px);
        grid-template-rows: repeat(3, minmax(44px, auto));
        grid-auto-rows: minmax(44px, auto);
        justify-content: space-between;
        row-gap: 15px;
    }
    &__item{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 21px 18px;
        row-gap: 5px;
        justify-content: space-between;
        align-content: space-between;
        &-title{
            position: relative;
            padding-left: 25px;
            font-size: 14px;
            font-weight: bold;
            @include before_circle;
            &:before{
                width: 15px;
                height: 15px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &-price{
            font-size: 14px;
            font-weight: bold;
        }
        &-descr{
            font-size: 12px;
            font-weight: normal;
            grid-column: 1 / 3;
        }
    }
}