.skills{
    padding-top: 120px;
    &__wrapper{
        margin-top: 60px;
        padding: 0 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, minmax(270px, auto));
        grid-auto-rows: minmax(270px, auto);
        gap: 13px;
    }
    &__item{
        border: 1px solid #000;
        padding: 30px 30px 25px 30px;
        &-title{
            font-size: 14px;
            font-weight: bold;
            margin-top: 20px;
        }
        &-descr{
            font-size: 12px;
            font-weight: normal;
            margin-top: 15px;
        }
    }
    &__progress{
        margin-top: 120px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, minmax(70px, auto));
        grid-auto-rows: minmax(70px, auto);
        row-gap: 30px;
        column-gap: 45px;
        &-head{
            display: flex;
            justify-content: space-between;
            padding-left: 14px;
        }
        &-title{
            position: relative;
            font-size: 14px;
            font-weight: bold;
            @include before_circle;
            &:before{
                left: -15px;
                top: -6px;
            }
        }
        &-percent{
            font-size: 14px;
            font-weight: bold;
        }
        &-line{
            height: 14px;
            background-color: #E8E4DE;
            margin-top: 27px;
            border-radius: 4px;
        }
        &-result{
            background-color: $main-color;
            height: 100%;
            border-radius: 4px;
        }
    }
}